<ul>
  <% for(let i = 0; i < customers.length; i++) { %>
  <li>
    <form action="" method="post">
      <h1><%=customers[i]["username"]%></h1>
      <input type="hidden" name="customer_id"
      value="<%=customers[i]["customerID"]%>">
      <input type="submit" value="send validation token" />
    </form>
  </li>
  <% }; %>
</ul>
