<form action="/customer/<%=customerID%>/bookedcallback" method="POST">
  <% for(let i = 0; i < slots.length; i++) { %>
  <h4> <%=slots[i]["fullDate"]%></h4>
  <% for(let j = 0; j < slots[i]["timestamps"].length; j++) { %> 
    <input type="radio" name="time" value="<%=slots[i]["timestamps"][j]%>"><%=slots[i]["times"][j]%></input >
  <br />
  <% }; %> 
  <% }; %>
  <input type="submit" />
</form>

