<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/customerheader'); %>
<h1>Validate Agent</h1>
<p><%=active_call["validation_token"]%></p>
</body>

</html>